<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <!-- <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form> -->
    <a href="/logout">Log-out</a>
    <hr>
    <a href="/newPost">New Post</a>

    <% posts.forEach(post => { %>
        <div style="border: 1px solid blue; margin: 1.4rem 0; padding: 12px">
            <!-- <% const user = getUserById(+post.author_id) %>
            <%= user %>
            <p><%= user.name %> says:</p> -->
            <h4><%= post.title %></h4>
            <p><%= post.post %></p>
            <a href="/newComment/<%= post.id %>">Comment</a>
            <a href="/updatePost/<%= post.id %>">Update</a>
            <form action="/deletePost/<%= post.id %>" method="POST">
                <button type="submit">Delete</button>
            </form>
            <!-- <a href="/deletePost/<%= post.id %>">Delete</a> -->
        </div>
    <% }) %>
</body>
</html>